.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Large devices*/
@media (min-width: 992px) {
    .col-lg-4{
        flex-basis: 33.3%;
    }
    .col-lg-6{
        flex-basis: 50%;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        flex-basis: 50%;
    }
    .col-md-12{
        flex-basis: 100%;
    }
}
/* Small devices */
@media (max-width: 767px) {
    .col-sm-12{
        flex-basis: 100%;
    }
}

    
    /* ARTICLES */
#BaseInf, #childhood, #school, #OutOfSchool, #uni {
    border: solid black 1px;
    margin: 5px;
    padding: 15px;
}
#BaseInf {
    background-color: rgb(227, 155, 227);
    color:purple;
}
#childhood {
    background-color: rgb(142, 198, 239);
    color:rgb(23, 17, 152);
}
#school {
    background-color: rgb(140, 220, 160);
    color:rgb(10, 95, 10);
}
#OutOfSchool {
    background-color: rgb(220, 140, 140);
    color:rgb(52, 2, 2);
}
#uni {
    background-color: rgb(210, 176, 124);
    color:rgb(67, 34, 3);
}

    
    /* BUTTONS */
ul li {
    list-style: none;
}
h1 {
    text-align: center;
    font-size: 22px;
}
a.BackToMain {
    font-style: italic;
}
h3 {
    text-align: center;
}
article {
    font-size: 120%;
}
h2 {
    font-size: 120%;
}
a.cont {
    font-weight: bold;
}
a.up {
    text-transform: uppercase;
}
a.abc:link {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    display:inline-block;
    text-decoration: none;
    border: 2px solid black;
    margin: 10px;
    width: 100px;
}
a.abc:hover {
    background-color: magenta;
    color: blue;
}
a.abc:active {
    background-color: yellow;
    color:black;
}