.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Large devices*/
@media (min-width: 992px) {
    .col-lg-6{
        flex-basis: 50%;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-12{
        flex-basis: 100%;
    }
}
/* Small devices */
@media (max-width: 767px) {
    .col-sm-12{
        flex-basis: 100%;
    }
}



    /*LIST STYLE*/
h1 {
    text-align: center;
    font-size: 22px;
}
a.BackToMain {
    font-style: italic;
}
h2 {
    text-align: center;
}
ul.odd-rows li:nth-child(odd) {
    background-color: rgb(159, 159, 159);
}
ul.odd-rows li:nth-child(even) {
    background-color: white;
}
li.point {
    cursor: pointer;
}
li.color {
    background-color:rgb(227, 159, 159);
}