.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Large devices*/
@media (min-width: 992px) {
    .col-lg-3{
        flex-basis: 25%;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        flex-basis: 50%;
    }
}
/* Small devices */
@media (max-width: 767px) {
    .col-sm-12{
        flex-basis: 100%;
    }
}
.flex-item{
    text-align: center;
    margin-bottom: 10px;
}



    /* LINKS STYLE */
h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 120%;
}
a.bio:link {
    color:red;
}
a.bio:visited {
    color:rgb(218, 67, 152);
}
a.today:link {
    color:green;
}
a.today:visited {
    color:greenyellow;
}
a.fr:link {
    color:rgb(90, 2, 172);
}
a.fr:visited {
    color:rgb(153, 114, 189);
}
a.gall:link {
    color:rgb(58, 58, 12);
}
a.gall:visited {
    color:rgb(111, 111, 10);
}