/* Large devices*/
@media (min-width: 992px) {
    .big-top th{
        font-size: 1.3em;
    }
    .big-nottop td{
        font-size: 1.2em;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .mdm-top th{
        font-size: 1.2em;
    }
    .mdm-nottop td{
        font-size: 1.1em;
    }
}
/* Small devices */
@media (max-width: 767px) {
    .sml-top th{
        font-size: 1.1em;
    }
}



    /* TABLE STYLE */
h1 {
    text-align: center;
    font-size: 22px;
}
a.BackToMain {
    font-style: italic;
}
h2 {
    text-align: center;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
}
td, th {
    padding: 10px;
}
tr.odd-row {
    background-color: rgb(181, 174, 174);
}
th {
    background-color: green;
    color: white;
    font-weight: bold;
}
.right {
    text-align: right;
}